@media (min-width: 800px) {
  .navigation-bar{
    display: flex;
    flex-direction: row;
    max-width: inherit;
    position: sticky;
    top: 0;
    overflow: hidden;
    justify-content: center;
  }
  .navigation-bar .link{
    padding: 1.5rem 2rem;
    width: 9rem;
  }
}

.dark .navigation-bar{
  background-color:#004d4083;
  color:#e0ece6;
  backdrop-filter: blur(6px);
}

.dark .navigation-bar .link:hover{
  border-bottom: 4px solid #f7c171;
  color:#ffffff;
  margin-bottom: 8px;
  padding-bottom: 4px;
}

.light .navigation-bar .link:hover{
  border-bottom: 4px solid #f7c171;
  color:#004d4083;
  margin-bottom: 8px;
  padding-bottom: 4px;
}

@media (max-width: 600px) {
  .navigation-bar{
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
  }
  .navigation-bar .link{
    padding: .75rem 1rem;
    width: 3rem;
  }
}