.navigation-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: inherit;
  /* background-color: #deb887; */
  padding: 2rem 2rem;

  position: sticky;
  top: 0;
  overflow: hidden;
}
.navigation-bar .link{
  padding: 3rem 3rem;
}

.dark .navigation-bar{
  background-color:#004d4083;
  color:#e0ece6;
  backdrop-filter: blur(6px);
}

.dark .navigation-bar .link:hover{
  background-color:#e0ece6;
  color:#004D40;
}

.light .navigation-bar .link:hover{
  background-color:#004D40;
  color:#e0ece6;
}

@media (max-width: 600px) {
  .navigation-bar{
    display: flex;
    flex-direction: column;
    /* visibility: hidden; */
  }
}