.header{
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  padding-bottom: .5rem;
  z-index: 1;
}
.navigation-bar{
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.switches{
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.switch{
  padding: 1.5rem 2rem;
}

.link.home{
  white-space: nowrap;
}

.dark .header{
  background-color:#004d4084;
  color:#e0ece6;
  backdrop-filter: blur(6px);
}

.light .header{
  background-color:#e0ece684;
  color:#004d40;
  backdrop-filter: blur(6px);
}

@media (min-width: 600px) {
  .header{
    max-width: inherit;
    position: sticky;
    top: 0;
    left: 0;
  }

  .navigation-bar{
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .navigation-bar .link{
    padding: 1.5rem 2rem;
    width: 6rem;
    text-align: center;
  }

  .dark .header .link:hover{
    color:#ffffff;
  }

  .light .header .link:hover{
    color:#008770;
    border-bottom-width: 20%;
  }
}


@media (max-width: 600px) {
  .header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0px;
  }

  .navigation-bar{
    display: flex;
    flex-direction: row;
  }
  .navigation-bar .link{
    padding: .75rem 1rem;
    width: 3rem;
  }

  .dark .navigation-bar .link:hover{
    color:#ffffff;
  }

  .light .navigation-bar .link:hover{
    color:#008770
  }
}

.lightswitch{
  height: 24px;
}

.light .lightswitch{
  filter: brightness(0) saturate(100%) invert(20%) sepia(72%) saturate(663%) hue-rotate(124deg) brightness(100%) contrast(102%);
}

.light .lightswitch:hover{
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(36%) sepia(29%) saturate(2219%) hue-rotate(132deg) brightness(99%) contrast(101%);;
}

.dark .lightswitch{
  filter: brightness(0) saturate(100%) invert(95%) sepia(11%) saturate(131%) hue-rotate(98deg) brightness(97%) contrast(94%);
}

.dark .lightswitch:hover{
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(265%) hue-rotate(319deg) brightness(115%) contrast(100%);
}