.projects{
    max-height: 1800px;
    max-width: 900px;
    min-height: 1800px;
    min-width: 400px;
    background-color: rgb(94, 75, 54);
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (min-width: 1280px) {
    .projects{
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }